.product-container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.cart-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  background-color: brown;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: default;
}

.cart-btn span{
    font-size: 2rem;
    cursor: default;
}
